<%- include ('partials/_header.ejs') %>
 

    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <a href="logout" class="btn btn-secondary">LogOut</a>

<%- include ('partials/_footer') %>